/**
 * Shortcodes Stylesheet
 *
 * @since Ilmenite Shortcodes 1.0
 * @version 1.0
 * @package Ilmenite Shortcodes
 **/

/*

	Table Of Contents

		1. Columns
		2. Code

*/


/**
 * 1 - Columns
 **/

.one_half,.one_third,.two_third,.three_fourth,.one_fourth,.one_fifth,.two_fifth,.three_fifth,.four_fifth,.one_sixth,.five_sixth { position:relative; margin-right:4%; float:left; min-height:1px; height:auto!important; height:1px; }
.one_half { width:48%; }
.one_third { width:30.6666%; }
.two_third { width:65.3332%; }
.one_fourth { width:22%; }
.two_fourth { width:48%; }
.three_fourth { width:74%; }
.one_fifth { width:16.8%; }
.two_fifth { width:37.6%; }
.three_fifth { width:58.4%; }
.four_fifth { width:79.2%; }
.one_sixth { width:13.3333%; }
.two_sixth { width:30.6666%; }
.three_sixth { width:47.9998%; }
.four_sixth { width:65.3332%; }
.five_sixth { width:82.6665%; }
.last { margin-right:0!important; clear:right; }
.one_half .one_half { margin-right:8.3333%; width:45.8333%; }
.one_half .one_third { margin-right:8.3333%; width:27.7778%; }
.one_half .two_third { margin-right:8.3333%; width:63.8889%; }
.two_third .one_third { margin-right:6.1224%; width:29.2517%; }
.two_third .two_third { margin-right:6.1224%; width:64.6258%; }
.two_third .one_fourth { margin-right:6.1224%; width:20.4082%; }

/**
 * 2 - Code
 **/

pre {
    background-color:white;
    background-image:-webkit-linear-gradient(top, #f5f5f5 50%, white 50%);
    background-image:-moz-linear-gradient(top, #f5f5f5 50%, white 50%);
    background-image:-ms-linear-gradient(top, #f5f5f5 50%, white 50%);
    background-image:-o-linear-gradient(top, #f5f5f5 50%, white 50%);
    background-image:linear-gradient(top, #f5f5f5 50%, white 50%);
    -webkit-background-size:30px 30px;
    -moz-background-size:30px 30px;
    -ms-background-size:30px 30px;
    -o-background-size:30px 30px;
    background-size:30px 30px;
    background-repeat:repeat;
    font:bold 12px/15px "Inconsolata","Monaco","Consolas","Andale Mono","Bitstream Vera Sans Mono","Courier New",Courier,monospace;
    color:#333;
    border:2px solid #666;
    position:relative;
    padding:0 7px;
    margin:10px 0;
    overflow:auto;
    word-wrap:normal;
    white-space:pre;
    -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow:0 1px 2px rgba(0,0,0,0.2);
    box-shadow:0 1px 2px rgba(0,0,0,0.2);
    position:relative;
}

pre[data-codetype] {
    padding:29px 1em 7px 1em;
}

pre[data-codetype]:before {
    content:attr(data-codetype);
    display:block;
    position:absolute;
    top:0;
    right:0;
    left:0;
    background-color:#666;
    padding:0 7px;
    font:bold 11px/20px Arial,Sans-Serif;
    color:white;
}

pre[data-codetype="HTML"]       {border-color:#0B7E88;color:#08464B;}
pre[data-codetype="CSS"]        {border-color:#7B990C;color:#4B5D08;}
pre[data-codetype="JavaScript"] {border-color:#545448;color:#1F2E24;}
pre[data-codetype="JQuery"]     {border-color:#395540;color:#2E2E27;}
pre[data-codetype="PHP"]        {border-color:#FF9900;color:#865003;}
pre[data-codetype="XML"]        {border-color:#FF0C39;color:#790015;}

pre[data-codetype="HTML"]:before          {background-color:#0B7E88;}
pre[data-codetype="CSS"]:before           {background-color:#7B990C;}
pre[data-codetype="JavaScript"]:before    {background-color:#545448;}
pre[data-codetype="JQuery"]:before        {background-color:#395540;}
pre[data-codetype="PHP"]:before           {background-color:#FF9900;}
pre[data-codetype="XML"]:before           {background-color:#FF0C39;}